{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex justify-between max-w-screen-xl mb-4">
      <article class="w-full">
          <header class="mb-4 lg:mb-6 not-format">
              <address class="flex items-center mb-6 not-italic">
                  <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                      {% if article.author.userprofile.photo %}
                    <img class="mr-4 w-16 h-16 rounded-full" src="{{ article.author.userprofile.photo.url }}" alt="Jese Leos">
                    {% else %}
                     <img class="mr-4 w-16 h-16 rounded-full" src="{% static 'img/unknown.jpg' %}" alt="Jese Leos">
                    {% endif %}

                      <div>
                          <a href="#" rel="author" class="text-xl font-bold text-gray-900">{{ article.author.username|title }}</a>
                          <p class="text-base text-gray-500 dark:text-gray-400"><time pubdate datetime="2022-02-08" title="February 8th, 2022">{{ article.created_at|date:"M, d \a\t H:i" }}</time></p>
                      </div>
                  </div>
              </address>
              <h1 class="text-3xl font-extrabold leading-tight text-gray-900 text-4xl mb-8">{{ article.title }}</h1>
              <figure><img src="{{ article.image.url }}" alt="" class="w-full rounded-lg shadow"></figure>
          </header>
          <p class="lead">{{ article.text }}</p>
      </article>
</div>
<div>
    <h2>Комментарии</h2>
    {% if user.is_authenticated %}
    <h1>Добавить комментарий</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
    </form>
    {% else %}
        <p>Пожалуйста, <a href="{% url 'login' %}">войдите в систему</a>, чтобы добавить комментарий.</p>
    {% endif %}
    <div>
        {% for comment in comments %}
            <div>
                <strong>{{ comment.author.username }}</strong>
                <p>{{ comment.text }}</p>
                <small>{{ comment.created_date }}</small>
                {% if comment.updated_date %}
                    <small>Изменено: {{ comment.updated_date }}</small>
                {% endif %}
                {% if comment.author == user %}
                    <form method="post" action="{% url 'articles:edit_comment' comment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit" class="btn btn-link">Редактировать</button>
                    </form>
                    <form method="post" action="{% url 'articles:delete_comment' comment.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <button type="submit" class="btn btn-link">Удалить</button>
                    </form>
                {% endif %}
            </div>
        {% empty %}
            <p>Нет комментариев</p>
        {% endfor %}
    </div>
</div>

{% endblock %}