{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="flex gap-6">
    <div>
        <img src="{{ book.cover_image.url }}" style="min-width: 350px; max-width: 400px;" class="rounded shadow-lg">
    </div>
    <div>
        <div class="flex justify-between">
            <div class="flex gap-6 mb-3">
                <h1 class="text-3xl font-medium">{{ book.title }}</h1>
                <p
                        class="flex items-center gap-1.5 font-sans text-base font-normal leading-relaxed text-blue-gray-900 antialiased">
                    {% if average_rating %}
                    <span class="text-yellow-500 font-semibold text-xl"> <i class="fa fa-star" aria-hidden="true"></i> {{ average_rating }}</span>
                    {% endif %}
                </p>
            </div>
            <div>
                <a href="{{ book.slug }}">
                    <button type="button"
                            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Buy
                    </button>
                </a>
            </div>
        </div>
        <p class="mb-5"><span class="font-medium">Publisher:</span> {{ book.author }}</p>
        <p class="mb-5">{{ book.description }}</p>
    </div>

</div>
<div class="my-8">
    <h2 class="text-2xl font-bold">Отзывы:</h2>
    <div>
        {% for review in reviews %}
        <div class="border p-4 my-4 rounded shadow-sm">
            <div>
                <div class="mb-4 flex items-center">
                    <img class="w-10 h-10 rounded-full mr-4" src="{{ review.user.userprofile.photo.url }}"
                         alt="Avatar of Jonathan Reinink">
                    <div>
                        <p class="font-bold">{{ review.user.username|title }}</p>
                        <small class="text-gray-500 italic">{{ review.created_date }}</small>
                    </div>
                </div>
                <div class="flex justify-between items-end">
                    <div>
                        <p>{{ review.comment }} - <span class="text-yellow-500 font-bold">{{ review.rating }} <i class="fa fa-star" aria-hidden="true"></i></span> {% if review.user == request.user %} <small class="text-gray-500">(Your
                            review)</small> {% endif %}
                        </p>
                    </div>
                    <div class="flex gap-4">
                        {% if review.user == request.user %}
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="edit_review" value="{{ review.id }}">
                            <button type="submit" class="btn btn-link"><i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </form>
                        <form method="post" style="display:inline;">
                            {% csrf_token %}
                            <input type="hidden" name="delete_review" value="{{ review.id }}">
                            <button type="submit" class="btn btn-link"><i class="fa fa-trash" style="color: red;"
                                                                          aria-hidden="true"></i></button>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Пока нет отзывов.</p>
        {% endfor %}
    </div>
    <hr>
    {% if user.is_authenticated %}
        <h2 class="text-xl font-bold my-4">{% if user_review %}Редактируйте свой отзыв{% else %}Добавить отзыв{% endif %}</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.comment }}
            <div>
                <span class="text-yellow-500 font-bold"><i class="fa fa-star" aria-hidden="true"></i></span>{{ form.rating }}
            </div>
            <button type="submit"
                        class="mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                        {% if user_review %}Обнавить{% else %}Добавить{% endif %}
            </button>
        </form>
    {% else %}
        <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="font-bold">Информационное сообщение</p>
          <p class="text-sm">Пожалуйста, <a href="{% url 'login' %}" class="font-bold underline">войдите в систему</a>, чтобы добавить отзыв.</p>
        </div>
    {% endif %}
</div>
{% endblock %}